@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary-500: #FFEB3B;
  --color-primary-600: #FFFFFF; 
  --color-secondary-900: black;
  --font-primary: "Montserrat", sans-serif;
}


html { overflow-y: hidden; } 


/*body {
 display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-secondary-500);
  font-family: var(--font-primary);
 font-family: var(--font-primary);
}*/

.btn {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 1.5rem 4.5rem;
  background: var(--color-primary-500);
  color: var(--color-secondary-900);
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: normal;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-transition: background 250ms, box-shadow 250ms;
  transition: background 250ms, box-shadow 250ms;
}
  
 .btn:hover {
    background: var(--color-primary-600);
    box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);
  }
  
.btn:active, .btn:focus {
    outline: none;
  }
  
.btn:active {
    box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.8);
}

.btn .text {
  position: relative;
  z-index: 2;
}

.btn .dot {
  position: absolute;
  z-index: -1;
  display: block;
  width: 200px;
  height: 10px;
  -webkit-transform-origin: 5px 5px;
          transform-origin: 5px 5px;
   pointer-events: none;
}
  
  .btn .dot:nth-child(1) {
    top: 50%;
    left: 100%;
      -webkit-transform: translate3d(-10px, -5px, 0);
          transform: translate3d(-10px, -5px, 0);
  }
  
  .btn .dot:nth-child(2) {
    bottom: 0;
    left: 100%;
    transform: translate3d(-10px, 0, 0) rotate(45deg);
  }
  
  .btn .dot:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translate3d(-5px, 0, 0) rotate(90deg);
  }
  
  .btn .dot:nth-child(4) {
    bottom: 0;
    left: 0;
    transform: rotate(135deg);
  }
  
  .btn .dot:nth-child(5) {
    top: 50%;
    left: 0;
    transform: translate3d(0, -5px, 0) rotate(180deg);
  }
  
  .btn .dot:nth-child(6) {
    top: 0;
    left: 0;
    transform: rotate(225deg);
  }
  
   .btn .dot:nth-child(7) {
    top: 0;
    left: 50%;
    transform: translate3d(-5px, 0, 0) rotate(270deg);
  }
  
    .btn .dot:nth-child(8) {
    top: 0;
    left: 100%;
    transform: translate3d(-10px, 0, 0) rotate(315deg);
  }
  
    .btn .dot::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--color-primary-600);
    border-radius: 50%;
    offset-path: path("M0 1c7.1 0 10.7 2 14.3 4s7.1 4 14.3 4 10.7-2 14.3-4 7.2-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4 10.7-2 14.3-4 7.1-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4 10.7-2 14.3-4 7.1-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4");
    offset-distance: 0;
    pointer-events: none;
    content: "";
}

.btn.is-animating .dot::before {
  animation: dot 750ms cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: dot 750ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes dot {
  0% {
    offset-distance: 0%;
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

@keyframes dot {
  0% {
    offset-distance: 0%;
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}


.jouer .tchat{
	width: 20%;
	margin-top : 10%;
	height: 60px;
	margin-left: 55%;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
	border-radius: 6px;
	background-color: white;
}




body{
 	background-image: url("../images/Background.gif");
 	background-color: white;
	max-width: 100%;
	background-size: 100%;
}



h1{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	text-align: center;	
	margin-top: 10%;
	font-size: 60px;
	width: 100%;
}

#container_2{
	display: block;
	width: 100%;
	position: absolute;
}
.buttons{
	text-align: center;
	margin-top: 10%;
}


.logo{
  position: absolute;
  width: 6%;
  margin-left: 30px;
  margin-top: 10px;
}
