* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { overflow-y: hidden; } 


img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html{
  background: linear-gradient(#000000, #222222) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.container{
  width: 1400px;
  margin: 10px auto;
}


