html,

*{
	outline: 0;
}
body {
	height: 100%;
}

body {
	background: #111;
	background: radial-gradient( #222, #111 );
	overflow: hidden;
	background-image:url(img/fond.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#table {
	padding-top: 300px;
	z-index: 1;
	height: 500px;
	position: absolute;
	width: 100%;
	background-image:url(img/table.png);
	background-size: cover;

}

#balle {
	z-index: 2;
	border-radius: 50%;
	height: 200px;
	position: relative;
	transition: background 300ms;
	width: 200px;
}

#balle:after {
	bottom: -30px;
	content: '';
	left: -30px;
	position: absolute;
	right: -30px;
	top: -30px;
}

#balle:hover {
	cursor: move;
	cursor: -webkit-grab;
}

#balle:active {
	cursor: move;
	cursor: -webkit-grabbing;
	transition-duration: 100ms;
}

.cup{
float:left;

}

.cup1{
float:right
}

.gobelet{
margin-top: 0px;

}

.gobelet img{
	height:200px;
	width:200px;

}
