#canvas2{
    background-image: url('bulle3.png');
    position: relative;
    
}



#logo{
    position: absolute;
    top: -40px;
    left: 350px;
    width: 50%;
}

#join{
    border: none;
  background-color: inherit;
    width: 250px;
    font-family: "Anton";
    position:absolute;
    top: 300px;
    font-size: 100px;
    left: 600px;

    color: white;
}

#host{
    border: none;
    background-color: inherit;
    width: 250px;
    font-family: "Anton";
    position:absolute;
    top: 500px;
    font-size: 100px;
    left: 600px;
    color: white;
    border-radius: 100%;
}

#host:active{
    border: 3px;
}